<div class="container">
  <p><b>The spring semester has ended. We wish you a happy summer holiday! Please check back in September for more stories on Philosophocle. </b></p>
  <p>Please check the <a href="archive.html">archives</a> for a chronological listing of posts.</p>
  <br>
  <br>
  $for(posts)$
    <div class="row">
    <div class="col-md-12">
    <div class="post-title">
    <h2 class="center"><a href="$url$">$title$</a></h2> 
    </div>
    <div class="info">
      $if(author)$ 
        <p class="subs">by $author$
	</p>
      $endif$
      $if(date)$ 
        <p class="subs">on $date$
	</p>
      $endif$
    </div>
          $if(teaser)$ $teaser$ $endif$
	  <p><a href="$url$">Read more.</a></p>
    </div>
    </div>
    <hr>

  $endfor$
</div>
